# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.py[cod]

# Virtual environment
venv/
env/

# Django
*.log
db.sqlite3
media/

# Environment variables
.env

# IDE
.vscode/
.idea/

# pytest
.pytest_cache/